

.topnav {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

li.checkmark::before {
  content: ""; 
  position: absolute; 
  left: 2px; 
  top: 5px; 
  width: 3px;
  height: 6px;
  border: solid #f9dd94;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.title-h2 {
  margin-top: 30px;
  color: #130303eb;
}

.button {
  margin: 10px;
  background-color: #14ddeb;
  color: rgb(34, 5, 5);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.firstphoto {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
  border: 2px solid #0c1818;
  border-radius: 5px;
}

/* .form {
  text-align: left;
  margin-top: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form input[type="text"],
.form input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button[type="submit"] {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.additional-details {
  text-align: left;
  margin-top: 20px;
}

.additional-details ul {
  list-style-type: none;
  padding-left: 0;
}

.additional-details li {
  margin-bottom: 10px;
  color: #333;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
 

/* surah list */
/* .surah-list {
  list-style: none;
  padding: 0;
}

.surah-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #d92e2e;
}

.surah-link {
  text-decoration: none;
  color: #333;
}

.delete-button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
} */ */
